*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
h1{
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
}
body{
  min-height: 100vh;
  padding: 10px;
  background-image: linear-gradient(gray,black);
  display: flex;
  justify-content: center;
}









